@import url('https://fonts.googleapis.com/css?family=Abel|Advent+Pro|Cutive+Mono|Dosis|Gruppo|Josefin+Slab|Kosugi+Maru|M+PLUS+Rounded+1c|Montserrat|PT+Sans|Poiret+One|Quicksand|Rajdhani|Yanone+Kaffeesatz&display=swap');


* {
    scroll-behavior: smooth;
    color: #99aab5;
}

body {
    background-color: #2c2f33;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
}

header {
    color: #7289da;
    font-size: 1.8em;
    background-color: #2196f3;
}

header img {
  width: 250px;
  height: 80px;
  margin: 10px;
  margin-left: 30px;
  background-color: #2196f3;
}

#navbar ul {
    height: auto;
    padding: 0;
    margin-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    border-left: 4px solid #7289da!important;
}

#navbar li {
    color: #99aab5;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar li:hover {
  color: #6f7375;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section article {
    color: 7289da;
    margin: 15px;
    font-size: 0.96em;
}

section li {
    margin: 15px 0px 0px 20px;
}

#snippet {
  width: 60%;
  overflow-x: scroll;
}

code.js.hljs.javascript {
    word-break: normal;
    word-wrap: normal;
    border-radius: 2px;
    padding: 20px;
}

@media only screen and (max-width: 815px) {

    /* For mobile phones: */
    #navbar ul {
        border: 1px solid;
        height: 207px;
        text-align: center;
    }

    #navbar {
        background-color: #7289da;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }
    #snippet {
      width: auto;
    }
}
